* {
    border: dotted;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
}

h1 {
    font-family: 'Bitcount Grid Double', system-ui;
    font-size: 4vw;
}

h2 {
    font-family: 'Bitcount Grid Double', system-ui;
    font-size: 3vw;
}

p {
    font-family: 'Roboto Mono';
    font-size: 2vw;
    /* to keep text paragraphs spaced out */
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    font-family: 'Roboto Mono';
    font-size: 11px;
    color: black;
}

#container {
    /* margin top/bottom */
    margin-top: 50px;
    margin-bottom: 50px;
    /* equal space either side */
    margin-left: auto;
    margin-right: auto;

    padding: 10px;
    background-color: linen;
    /* max-width: 800px; */
    /* min-width: 100px; */
    width: 90vw;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
}

#speaker {
    align-self: flex-start;
}

#menu_container {

    /* position: relative; */

    /* transform: translate(0,0,-1); */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    /* align-items: center; */
    /* justify-items: center; */
    /* text-align: center;
     */
    /* justify-content: center; */

    /* border: dotted; */

    width: 100%;
    /* height: auto; */
    /* background-color: linen; */

    display: grid;

    grid-template-areas:
        'space space space north space space space'
        'space northwest space space space northeast space'
        'space space space space space space space'
        'west space space central space space east'
        'space space space space space space space'
        'space southwest space space space southeast space'
        'space space space south space space space';
        /* gap: 10px; */
        /* padding: 10px; */
        
}

.circles {
    width: 100px;
    height: 100px;
    /* border: solid; */
    border-radius: 50%;
    /* color: blue; */
    /* background-color: blue;  */
    /* padding: 10px; */
    margin: 5px;
    background-image: url("/menuimg/circle.png");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 25px;


}

#option1 {
    /* background-image: url("/menuimg/dp.png"); */
    grid-area: north;
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
}
#option2 {
    grid-area: northeast;
}
#option3 {
    grid-area: east;
}
#option4 {
    grid-area: southeast;
}
#option5 {
    grid-area: south;
}
#option6 {
    grid-area: southwest;
}
#option7 {
    grid-area: west;
}
#option8 {
    grid-area: northwest;
}

#sun {
    grid-area: central;
}



#centre {
    width: 300px;
    height: 300px;
    transform: rotatez(0deg);
    animation-name: rotateit;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes rotateit {
    0% {
        transform: rotatez(0deg);
    }

    100% {
        transform: rotatez(360deg);
    }
}